* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body section {
    overflow-x: hidden;
    overflow-y: hidden;
}

.cor_azul {
    color: #00003cff;
}

.cor_amarela {
    color: #d4ad68ff;
}

/* Estilos para o Loader */
#loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #00003cff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#content {
    display: none;
}

/* Animações */
@keyframes slideInFromRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Aplicação das animações */
.section-right {
    opacity: 0;
    animation: slideInFromRight 1.5s ease-out forwards;
}

.section-left {
    opacity: 0;
    animation: slideInFromLeft 1.5s ease-out forwards;
}

/* Adiciona visibilidade às seções quando carregadas */
.visible {
    opacity: 1;
}

.cookie-banner {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #00003cff;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    display: none; /* Initially hidden */
    z-index: 10000;
    box-shadow: 0 0 5px #000;
}

.cookie-banner p {
    margin: 0;
    padding-right: 10px;
}

.cookie-banner button {
    border: 2px solid #fff;
    color: white;
    background-color: #00003cff;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
    width: 200px;
    border-radius: 20px;
}

.cookie-banner button:hover {
    background-color: rgba(0, 0, 60, 0.749);
}