header {
    width: 100%;
    height: auto;
}

.menu {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.logo {
    color: #00003cff;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
}

.categoria {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1.5rem;
}

.categoria li a {
    text-decoration: none;
    color: rgb(30, 138, 78);
    font-weight: 600;
}

.categoria li a:hover {
    transition: .1s;
    text-decoration: underline;
}


.menu .log {
    text-decoration: none;
    color: #fff;
    background-color: rgb(10, 136, 48);
    padding: 15px 50px;
    border-radius: 5px;
    font-weight: 600;
}

.log:hover {
    background-color: rgb(10, 136, 48);
}

.menu-icon {
    font-size: 2rem;
    display: none;
    cursor: pointer;
    color: #000;
}

@media (max-width: 768px) {
    header {
        width: 100%;
        height: auto;
        box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
        border-bottom: 2px solid rgba(137, 131, 131, 0.5);
        /* Borda inferior ligeiramente transparente */
    }

    .menu {
        padding: 20px;
        display: flex;
        justify-content: space-around;
        position: relative;
    }

    .logo {
        color: rgb(10, 136, 48);
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: 600;
    }

    .menu-icon {
        display: block;
    }

    .categoria {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: rgb(10, 136, 48);
        text-align: center;
        z-index: 1000;
    }

    .categoria.show {
        display: flex;
    }

    .categoria li {
        margin: 0 auto;
        padding: 20px 0;
        border-bottom: 1px solid #fff;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .categoria li a {
        color: #fff;
    }

    .log {
        display: none;
    }
}